{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# install/update homebrew
which -s brew
if [[ $? != 0 ]]; then
  echo "Homebrew not found. Installing..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Homebrew already installed. Updating..."
  brew update
  brew upgrade
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "jesseduffield/lazydocker"
tap "jesseduffield/lazygit"

brew "bat"
brew "btop"
brew "bun"
brew "chezmoi"
brew "eza"
brew "fd"
brew "fnm"
brew "fzf"
brew "gh"
brew "git-delta"
brew "go"
brew "jesseduffield/lazydocker/lazydocker"
brew "jesseduffield/lazygit/lazygit"
brew "neofetch"
brew "ripgrep"
brew "starship"
brew "thefuck"
brew "tlrc"
brew "tmux"
brew "tree"
brew "yarn"
brew "zoxide"

cask "arc"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "insomnia"
cask "iterm2"
cask "orbstack"
cask "raycast"
cask "spotify"
cask "whatsapp"
cask "1password"

EOF
{{ end -}}
